<div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/control/perfil">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/control/historias">Historias</a></li>
            <li class="breadcrumb-item">{{pacientes.pacientenombre}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Imprimir</a></li>
        </ol>
    </nav>
</div>

<div class="paciente__historia--pdf">
    <div class="container">
        <div class="paciente__info">
            <div class="paciente__header">
                <h1>{{pacientes.pacientenombre}}</h1>
            </div>

            <div class="paciente__body">
                <ul class="info__list">
                    <h4>Datos personales del paciente</h4>
                    <div class="info__section">
                        <li class="list__item">
                            <p><strong>Nombre:</strong> {{pacientes.pacientenombre}}</p>
                        </li>

                        <li class="list__item">
                            <p><strong>Edad:</strong> {{pacientes.pacienteedad}}</p>
                        </li>
                    </div>
                    <div class="info__section">
                        <li class="list__item">
                            <p><strong>EPS:</strong> {{pacientes.pacienteeps}}</p>
                        </li>

                        <li class="list__item">
                            <p><strong>Diagnóstico:</strong> {{pacientes.pacientediagnostico}}</p>
                        </li>
                    </div>
                    <div class="info__section">
                        <li class="list__item">
                            <p><strong>Servicio Solicitado:</strong> {{pacientes.pacienteservicio}}</p>
                        </li>

                        <li class="list__item">
                            <p><strong>Contacto:</strong> {{pacientes.pacientetel}}</p>
                        </li>
                    </div>
                </ul>

                <ul class="info__list--dos">
                    <h4>Datos de ingreso</h4>
                    <div class="info__section">
                        <li class="list__item">
                            <p><strong>Ingreso:</strong> {{pacientes.pacienteingreso}}</p>
                        </li>

                        <li class="list__item">
                            <p><strong>Salida:</strong> {{pacientes.pacientesalida}}</p>
                        </li>
                    </div>

                    <div class="info__section">
                        <li class="list__item">
                            <p><strong>Responsable:</strong> {{pacientes.pacienteresponsable}}</p>
                        </li>

                        <li class="list__item">
                            <p><strong>Parentezco:</strong> {{pacientes.pacienteparentezco}}</p>
                        </li>
                    </div>
                </ul>

                <ul class="info__list--tres">
                    <h4>Evolución actual del paciente:</h4>
                    <div class="form__section d-block m-4">
                        {{#if pacientes.evolucion}}
                        <li>
                            <p>{{pacientes.evolucion}}</p>
                            <p style="font-size: 12px;"><i><strong>Actualizado: </strong>{{timeago created_at}}</i>
                            </p>
                        </li>
                        {{else}}
                        <p>El paciente no cuenta con evolución</p>
                        {{/if}}
                    </div>
                </ul>

                <ul class="info__list--cuatro">
                    <h4>Kardex actual del paciente:</h4>

                    <div class="info__section d-flex">
                        <li class="list__item">
                            <p><strong>Peso: </strong>{{pacientes.pacientepeso}}</p>
                        </li>

                        <li class="list__item" style="margin-left: 10px">
                            <p><strong>Dieta: </strong>{{pacientes.pacientedieta}}</p>
                        </li>

                        <li class="list__item" style="margin-left: 10px">
                            <p><strong>Oxígeno: </strong>{{pacientes.pacienteoxigeno}}</p>
                        </li>
                    </div>

                    <div class="info__section">
                        <li class="list__item">
                            <p><strong>Tratamiento Farmacológico: </strong>{{pacientes.tratamiento}}</p>
                        </li>

                        <li class="list__item">
                            <p><strong>Plan de Cuidados: </strong>{{pacientes.plan}}</p>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>