<div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/personal/perfil">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Historias clínicas</a></li>
        </ol>
    </nav>
</div>

<div class="historia__individiual">
    <div class="container">
        <div class="paciente__info">
            <div class="paciente__header">
                <h1>Listado de pacientes registrados</h1>
            </div>
            <div class="paciente__body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Diagnóstico</th>
                            <th scope="col">teléfono</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    {{#each pacientes}}
                    <tbody>
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td><a href="/personal/historias/individual/{{id}}">{{pacientenombre}}</a></td>
                            <td>{{pacientediagnostico}}</td>
                            <td>{{pacientetel}}</td>
                            <td>{{estado}}</td>
                        </tr>
                        {{else}}
                        <tr>
                            <th scope="row">2</th>
                            <td>Hola</td>
                            <td>No tienes pacientes registrados</td>
                            <td><a href="/personal/historias/agregar" class="btn btn-danger">Agrega uno nuevo</a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="paciente__body--mov">
                {{#each pacientes}}
                <div class="card">
                    <div class="card-header">
                        <h4><strong class="id__mov">{{id}}</strong><a class="id__link" href="/personal/historias/individual/{{id}}">{{pacientenombre}}</a></h4>
                    </div>
                    <div class="card-body">
                        <ul class="bodypaciente__mov">
                            <li class="pac__item">
                                <p><strong>Diagnóstico: </strong>{{pacientediagnostico}}</p>
                            </li>
                            <li class="pac__item">
                                <p><strong>Teléfono: </strong>{{pacientetel}}</p>
                            </li>
                            <li class="pac__item">
                                <p><strong>Estado: </strong>{{estado}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                {{else}}
                <p>No hay pacientes todavía</p>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="col-md-4 mx-auto m-4">
        <a href="/personal/historias/agregar" class="btn btn-danger">Añadir nuevo paciente</a>
    </div>
</div>