<div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/personal/perfil">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Solicitudes de servicio</a></li>
        </ol>
    </nav>
</div>

<div class="users__table">
    <div class="container">
        <div class="users__title text-center">
            <h1>Solicitudes de servicios Teacompaño</h1>
        </div>
        <div class="row">
            <table class="table-secondary">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each usuarios}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{username}}</td>
                        <td><a href="mailto:{{email}}">{{email}}</a></td>
                        <td><a href="https://api.whatsapp.com/send?phone={{phone}}&text=Hola, te escribimos de Teacompaño"
                                rel="nofollow" target="_blank">{{phone}}</a></td>
                        <td>
                            <ul class="user__list">
                                <li class="list__item">
                                    <a href="" class=""></a>
                                    <!-- Button trigger modal -->
                                    <a type="button" class="icon-plus-circled" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    </a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">{{username}}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <ul class="usr__info">
                                                        <li class="usr__info--item">
                                                            <p><strong>Id: </strong>{{id}}</p>
                                                        </li>
                                                        <li class="usr__info--item">
                                                            <p><strong>Email: </strong>{{email}}</p>
                                                        </li>
                                                        <li class="usr__info--item">
                                                            <p><strong>Teléfono: </strong>{{phone}}</p>
                                                        </li>
                                                        <li class="usr__info--item">
                                                            <p><strong>Descripción:<br> </strong>{{description}}</p>
                                                        </li>
                                                        <li class="usr__info--item">
                                                            <p><strong>Hora registro: </strong>{{timeago created_at}}
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list__item"><a href="/control/users/delete/{{id}}" class="icon-trash-1"></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <th scope="row">2</th>
                        <td>No hay usuarios</td>
                        <td>Registra uno</td>
                        <td><a href="/usuarios/add">Aquí</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="users__table--mob">
    <div class="container">
        <div class="users__title m-2 text-center">
            <h1>Solicitudes de servicios Teacompaño</h1>
        </div>
        <div class="row m-4">
            {{#each usuarios}}
            <div class="card m-4">
                <div class="card-title">
                    <h3>{{username}}</h3>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ul class="listado__usuario">
                            <li class="usuario__item">
                                <div class="item--flex">
                                    <p><strong>ID: </strong></p>
                                    <a href="" class="usuario__link">
                                        {{id}}
                                    </a>
                                </div>
                            </li>
                            <strong>Teléfono: </strong>
                            <li class="usuario__item"><a href="" class="usuario__link">
                                    {{phone}}
                                </a></li>
                            <li class="usuario__item">
                                <p><strong>Acciones</strong></p>
                                <div class="container">
                                    <ul class="user__list">
                                        <li class="list__item--mob">
                                            <!-- Button trigger modal -->
                                            <a type="button" class="icon-plus-circled" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                            </a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">{{username}}
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul class="usr__info">
                                                                <li class="usr__info--item">
                                                                    <p><strong>Id: </strong>{{id}}</p>
                                                                </li>
                                                                <li class="usr__info--item">
                                                                    <p><strong>Email: </strong>{{email}}</p>
                                                                </li>
                                                                <li class="usr__info--item">
                                                                    <p><strong>Teléfono: </strong>{{phone}}</p>
                                                                </li>
                                                                <li class="usr__info--item">
                                                                    <p><strong>Descripción: <br> </strong>{{description}}
                                                                    </p>
                                                                </li>
                                                                <li class="usr__info--item">
                                                                    <p><strong>Hora registro: </strong>{{timeago
                                                                        created_at}}
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list__item"><a href="/control/users/delete/{{id}}"
                                                class="icon-trash-1"></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>