{{!-- {{> inner}} --}}

{{!-- <div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/control">Control</a></li>
            <li class="breadcrumb-item"><a href="/control/dia-saludable">Listado de artículos</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{blog.titulo}}</a></li>
        </ol>
    </nav>
</div>

<div class="articulo">
    <div class="container m-4">
        <div class="articulo__title m-4 text-center">
            <h1>{{blog.titulo}} | Teacompaño</h1>
        </div>
        <div class="articulo__body container m-4">

            <div class="encabezado">
                <div class="contexto__art">
                    <p>
                        <strong>{{blog.tema}}</strong> | Opinión
                    </p>
                </div>

                <div class="imagen__art text-center">
                    {{!-- <iframe src="https://www.teacompano.com.co/img/blog/{{blog.urlimg}}.jpg"
                        title="Día Saludable | Teacompaño" frameborder="0"></iframe>
                    <iframe src="https://www.teacompano.com.co/img/blog/{{blog.urlimg}}.jpg"
                        title="Día Saludable | Teacompaño" frameborder="0"></iframe>
                    <p class="piedefoto">
                        {{blog.piefoto}}
                    </p>
                </div>
                <div class="contexto__subt">
                    <p class="subtitle text-center">
                        <i>{{blog.subtitulo}}</i>
                    </p>
                </div>
            </div>

            <div class="cuerpo container m-4">
                <div class="parrafo">
                    <p>
                        {{blog.paraguno}}
                    </p>
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>{{blog.subtitledos}}</h2>
                    </div>
                    <p>
                        {{blog.paragdos}}
                    </p>
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>{{blog.subtitletres}}</h2>
                    </div>
                    <p>
                        {{blog.paragtres}}
                    </p>
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>{{blog.subtitlecuatro}}</h2>
                    </div>
                    <p>
                        {{blog.paragcuatro}}
                    </p>
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>{{blog.subtitlecinco}}</h2>
                    </div>
                    <p>
                        {{blog.paragcinco}}
                    </p>
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>{{blog.subtitleseis}}</h2>
                    </div>
                    <p>
                        {{blog.paragseis}}
                    </p>
                </div>

            </div>

            <div class="pie container">
                <div class="atributos container m-6">
                    <ul>
                        <li>
                            <p><strong>Autor:</strong> <i>{{blog.autor}}</i></p>
                        </li>
                        <li>
                            <p><i>{{blog.created_at}}</i></p>
                        </li>
                        <li>
                            <p><strong>En:</strong> <i>{{blog.city}}</i></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> --}}

{{> inner}}

<div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/control">Control</a></li>
            <li class="breadcrumb-item"><a href="/control/dia-saludable">Listado de artículos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hacer frente a los hábitos en este 2021 Postcovid</a>
            </li>
        </ol>
    </nav>
</div>

<div class="articulo">
    <div class="container">
        <div class="articulo__title m-4">
            <h1>Hacer frente a los hábitos en este 2021 Postcovid | Teacompaño</h1>
        </div>
        <div class="articulo__body container">

            <div class="encabezado">
                <div class="contexto__art">
                    <p>
                        <strong>Salud</strong> | Opinión
                    </p>
                </div>

                <div class="imagen__art text-center">
                    {{!-- <iframe src="https://www.teacompano.com.co/img/blog/{{blog.urlimg}}.jpg"
                        title="Día Saludable | Teacompaño" frameborder="0"></iframe> --}}
                    {{!-- <iframe src="https://www.teacompano.com.co/img/blog/habitos-saludables.jpg"
                        title="Día Saludable | Teacompaño" frameborder="0"></iframe> --}}
                    <img src="/img/blog/habitos-saludables.jpg" alt="">
                    <p class="piedefoto">
                        Hay hábitos por analizar en este 2021 que llegan con la disminución de casos y un mayor control
                        a la pandemia generada por el virus del COVID-19.
                    </p>
                </div>
                <div class="contexto__subt">
                    <p class="subtitle text-center">
                        <i>Conozca las acciones más recomendables para hacer frente a algunos hábitos como la actividad
                            física y el consumo de alimentos más saludables.</i>
                    </p>
                </div>
            </div>

            <div class="cuerpo">
                <div class="parrafo">
                    <p>
                        <strong>Este año 2021</strong> se han venido aplicando los protocolos para la vacunación masiva
                        en todo el país, lo que puede significar un progresivo retorno a las actividades educativas y
                        laborales a medida que se dispersan los efectos de la pandemia.<br>

                        <br>Por este motivo, es importante tener en cuenta aspectos del día a día que permiten hacer
                        frente a la disminución de algunos hábitos de consumo tanto en niños como en adultos, de una
                        manera
                        efectiva y saludable.<br>

                        <br>El tabaco es considerado como una de las sustancias más nocivas y que ha tomado más fuerza
                        de consumo en
                        Colombia entre los menores de edad; en compañía de otros como el alcohol y la comida chatarra
                        entre otros.<br>

                        <br>Este fenómeno de consumo y algunos hábitos de consumo que no son saludables para la
                        población, ha visto un notable aumento en los últimos meses como efecto adverso del largo tiempo
                        de encierro en la cuarentena generada por el Covid-19.
                    </p>
                </div>

                <div class="imagen__intro--a">
                    <img src="/img/blog/habitos-saludables-a.png"
                        style="width: 220px; position: absolute; z-index: -1; opacity: 40%;" alt="">
                    {{!-- <iframe src="https://www.teacompano.com.co/img/blog/habitos-saludables-a.png"
                        title="Día Saludable | Teacompaño" frameborder="0"></iframe> --}}
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>Los cambios en las comidas</h2>
                    </div>
                    <p>
                        <strong>Disminuir el consumo de harinas y de comida chatarra</strong> pueden parecer tareas
                        fáciles para tener en cuenta en la dieta alimenticia de la familia. Hoy en Día saludable
                        Teacompaño, te compartimos algunos <strong>consejos saludables</strong> para cuidar tu salud y
                        la de tu familia:
                    </p>
                </div>

                <ul class="blog__listado">
                    <li class="blog__item">
                        <h4 class="blog__item--title">Reemplazar las harinas</h4>
                        <div class="blog__item--body">
                            <p>
                                Las harinas hacen parte fundamental de la dieta culturalmente aceptada en el país; sin
                                embargo, también es una de las principales causas de obesidad en niños y adolescentes e
                                incluso están asociadas también a la diabetes.<br>

                                <br>Este tipo de alimentos pueden ser reemplazados por verduras, ensaladas o incluso
                                otro
                                tipo
                                de harinas más saludables como las provenientes de frutos como el coco, las almendras y
                                la
                                quinoa entre otros.
                            </p>
                        </div>
                    </li>

                    <li class="blog__item">
                        <h4 class="blog__item--title">Opciones listas y saludables</h4>
                        <div class="blog__item--body">
                            <p>
                                Muchas familias colombianas optan por planificar el menú de la semana incluyendo
                                opciones
                                para una dieta saludable incluyendo verduras como sustituto de las harinas, avena para
                                reemplazar lácteos y frutas frescas para el desayuno o la merienda.<br>

                                <br>Otra de las alternativas que se están tomando en cuenta es organizar el menú del día
                                incluyendo las tres comidas principales y dos meriendas al día; lo que contribuye
                                <strong> a controlar mejor la ansiedad</strong>.
                            </p>
                        </div>
                    </li>

                    <li class="blog__item">
                        <h4 class="blog__item--title">Hidratación sana y constante</h4>
                        <div class="blog__item--body">
                            <p>
                                Más importante que la hidratación constante, es fundamental preferir el agua simple
                                frente a cualquier otro líquido y evitando, ante todo, el consumo de gaseosas y bebidas
                                azucaradas o saborizadas.
                            </p>
                        </div>
                    </li>

                    <li class="blog__item">
                        <h4 class="blog__item--title">Mantener los hábitos adquiridos durante el COVID.</h4>
                        <div class="blog__item--body">
                            <p>
                                En la pandemia generada por el virus aprendimos que los hábitos más importantes para
                                evitar la llegada de enfermedades al organismo, dependen de <strong>costumbres
                                    saludables</strong> y
                                sencillos como el correcto lavado de manos, el ejercicio en casa y el uso de
                                tapabocas.<br>

                                <br>Con los nuevos cambios por venir, es importante mantener estos hábitos preventivos
                                en
                                todo momento evitando otras enfermedades respiratorias o contagiosas a las que se puede
                                estar expuesto todos los días.
                            </p>
                        </div>
                    </li>
                </ul>

                <div class="imagen__intro--b">
                    <img src="/img/blog/habitos-saludables-b.png"
                        style="width: 220px; position: absolute; z-index: -1; opacity: 40%;" alt="">
                    {{!-- <iframe src="https://www.teacompano.com.co/img/blog/habitos-saludables-b.png"
                        title="Día Saludable | Teacompaño" frameborder="0"></iframe> --}}
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>Cambiando los hábitos</h2>
                    </div>
                    <p>
                        Los alimentos no son los únicos hábitos en la lista de nuevas metas del año. En esta época
                        postcovid en la que nos sumergimos los colombianos poco a poco, mientras el virus está siendo
                        controlado, es importante realizar nuevas actividades.<br>

                        <br>Conozcamos algunos de los consejos que hoy nos comparten en <strong>Teacompaño</strong> para
                        hacer frente a aquellos hábitos que pueden ser perjudiciales con la llegada de una nueva
                        normalidad este 2021:

                    </p>
                </div>

                <ul class="blog__listado">
                    <li class="blog__item">
                        <h4 class="blog__item--title">La pereza</h4>
                        <div class="blog__item--body">
                            <p>
                                Conocida como la madre de todos los vicios, la pereza es una de las constantes a la que
                                más
                                se le debe hacer frente en esta época y será necesario activar el cuerpo con actividad
                                física pasiva, antes de regresar a las labores académicas y laborales.<br>

                                <br>Algunas de las actividades más comunes para estos casos incluyen las caminatas en el
                                día,
                                sacar a las mascotas con un paseo más largo y estar siempre al tanto de las tareas
                                comunes
                                que se puedan realizar en casa.
                            </p>
                        </div>
                    </li>

                    <li class="blog__item">
                        <h4 class="blog__item--title">Evitar los psicoactivos</h4>
                        <div class="blog__item--body">
                            <p>
                                El uso de sustancias psicoactivas es una constante que se debe mantener en toda ocasión
                                por la <strong>seguridad propia y de la familia</strong>; sin embargo, hay algunos
                                productos psicoactivos y de consumo habitual y que son nocivos para la salud pero que
                                son comunes entre la población entre los están el tabaco y las bebidas alcohólicas.<br>

                                <br>El consumo de licor y tabaco tiende a aumentar los niveles de ansiedad; por lo que,
                                analizar la posibilidad de disminuir o controlar su consumo puede contribuir a llevar
                                una mejor calidad de vida mientras impulsa la costumbre de llevar una vida más
                                saludable.
                            </p>
                        </div>
                    </li>

                    <li class="blog__item">
                        <h4 class="blog__item--title">Evitar los psicoactivos</h4>
                        <div class="blog__item--body">
                            <p>
                                El uso de sustancias psicoactivas es una constante que se debe mantener en toda ocasión
                                por la <strong>seguridad propia y de la familia</strong>; sin embargo, hay algunos
                                productos psicoactivos y de consumo habitual y que son nocivos para la salud pero que
                                son comunes entre la población entre los están el tabaco y las bebidas alcohólicas.<br>

                                <br>El consumo de licor y tabaco tiende a aumentar los niveles de ansiedad; por lo que,
                                analizar la posibilidad de disminuir o controlar su consumo puede contribuir a llevar
                                una mejor calidad de vida mientras impulsa la costumbre de llevar una vida más
                                saludable.
                            </p>
                        </div>
                    </li>

                    <li class="blog__item">
                        <h4 class="blog__item--title">Retomar el ejercicio</h4>
                        <div class="blog__item--body">
                            <p>
                                Hacer ejercicio como mínimo 3 veces a la semana, es una meta que no se puede perder y
                                mucho menos ahora que nos estamos encaminando a una nueva agenda de actividades
                                laborales y educativas.<br>

                                <br>En estos casos es habitual tomarse algunos días a la semana para salir a trotar,
                                montar
                                en bicicleta o jugar fútbol, baloncesto u otros deportes con amigos y familiares;
                                incluso aprovechar las actividades de senderismo y caminata ecológica.
                            </p>
                        </div>
                    </li>
                </ul>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>Enfermedades por prevenir</h2>
                    </div>
                    <p>
                        Con una nueva agenda de actividades y alimentos más saludables por consumir, puedes asegurarte
                        de mantener una mejor calidad de vida para toda la familia evitando enfermedades respiratorias,
                        cardiovasculares y psicológicas entre otras.<br>

                        <br>Sigue los mejores consejos y tips para un nuevo día saludable con <strong>Teacompaño;
                            cuidados integrales de salud</strong> - Su bienestar nuestro objetivo. Su tranquilidad
                        nuestra responsabilidad.
                    </p>
                </div>
            </div>

            <div class="pie-container">
                <div class="atributos container m-6">
                    <ul>
                        <li>
                            <p><strong>Autor:</strong> <i>Teacompaño</i></p>
                        </li>
                        <li>
                            <p>El 17 de julio de 2021 a las<i> 2:50 p.m.</i></p>
                        </li>
                        <li>
                            <p><strong>En:</strong> <i>Medellín</i></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>