<div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/control">Control</a></li>
            <li class="breadcrumb-item active" aria-current="page">Día saludable</a></li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="blogs__info">
        <div class="blogs__title text-center m-4">
            <h1>Listado de artículos en Blog</h1>
        </div>

        <div class="blogs__body">
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Título</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    {{#each blog}}
                    <tbody>
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{titulo}}</td>
                            <td>{{timeago created_at}}</td>
                            <td>{{autor}}</td>
                            <td class="text-right">
                                <a href="/control/dia-saludable/eliminar/{{id}}" class="icon-trash-1"></a>
                                <a href="/control/dia-saludable/editar/{{id}}" class="icon-pencil"></a>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <th scope="row">1</th>
                            <td><a href="/control/dia-saludable/agregar">No hay blogs</a></td>
                            <td>10/01/12 10:00 a.m.</td>
                            <td>Pepito perez</td>
                            <td class="text-right">
                                <a href="" class="icon-trash-1"></a>
                                <a href="" class="icon-pencil"></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="/control/dia-saludable/agregar" class="btn btn-danger">Agrega un nuevo artículo aquí</a>
</div>