<div class="miga__pan container m-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/control">Control</a></li>
            <li class="breadcrumb-item"><a href="/control/historias">Historias</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{pacientes.pacientenombre}}</li>
        </ol>
    </nav>
</div>

<div class="historia__individiual">
    <div class="container">
        <div class="paciente__info m-4">
            <div class="paciente__header">
                <h1>{{pacientes.pacientenombre}}</h1>
                <div class="alerta">
                    <p>
                        <i><strong>Importante: </strong>Si es un nuevo paciente, recuerde realizar el Kárdex antes de
                            empezar a
                            crear/actualizar la evolción del paciente.</i>
                    </p>
                </div>
            </div>

            <div class="paciente__body">
                <div class="ficha__indi">
                    <div class="form__section d-flex m-4">
                        <div class="form-group m-2">
                            <label><strong>Nombre del paciente:</strong></label>
                            <p>{{pacientes.pacientenombre}}</p>
                        </div>
                        <div class="form-group m-2">
                            <label><strong>Edad:</strong></label>
                            <p>{{pacientes.pacienteedad}}</p>
                        </div>
                    </div>
                    <div class="form__section d-flex m-4">
                        <div class="form-group m-2">
                            <label><strong>EPS:</strong></label>
                            <p>{{pacientes.pacienteeps}}</p>
                        </div>
                        <div class="form-group m-2">
                            <label><strong>Diagnóstico:</strong></label>
                            <p>{{pacientes.pacientediagnostico}}</p>
                        </div>
                    </div>
                    <div class="form__section d-flex m-4">
                        <div class="form-group m-2">
                            <label><strong>Servicio solicitado:</strong></label>
                            <p>{{pacientes.pacienteservicio}}</p>
                        </div>
                        <div class="form-group m-2">
                            <label><strong>Contacto del paciente:</strong></label>
                            <p>{{pacientes.pacientetel}}</p>
                        </div>
                    </div>
                    <div class="form__section d-flex m-4">
                        <div class="form-group m-2">
                            <label><strong>Fecha de Ingreso:</strong></label>
                            <p>{{pacientes.pacienteingreso}}</p>
                        </div>
                        <div class="form-group m-2">
                            <label><strong>Fecha de Salida:</strong></label>
                            <p>{{pacientes.pacientesalida}}</p>
                        </div>
                    </div>
                    <div class="form__section d-flex m-4">
                        <div class="form-group m-2">
                            <label><strong>Responsable:</strong></label>
                            <p>{{pacientes.pacienteresponsable}}</p>
                        </div>
                        <div class="form-group m-2">
                            <label><strong>Parentezco:</strong></label>
                            <p>{{pacientes.pacienteparentezco}}</p>
                        </div>
                    </div>
                    <div class="form__section d-flex m-4">
                        <form action="/control/pacientes/estado/{{pacientes.id}}" method="POST">
                            <div class="form-group m-2 d-flex">
                                <select type="text" name="estado" class="form-select form-select-lg m-2"
                                    style="cursor-pointer" aria-label="Default select example">
                                    <option selected>
                                        {{#if pacientes.estado}}
                                        {{pacientes.estado}}
                                        {{else}}
                                        Seleccione estado
                                        {{/if}}
                                    </option>
                                    <option value="Activo">
                                        Activo
                                    </option>
                                    <option value="Inactivo">
                                        Inactivo
                                    </option>
                                </select>
                                <button class="btn btn-danger m-2">Cambiar Estado</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ficha__indi">
                    <div class="form__section d-block m-4">
                        {{#if pacientes.evolucion}}
                        <p><strong>Evolución del paciente</strong></p>
                        <ul style="list-style: none; padding: 0px;">
                            <li style="margin: 20px">
                                <p>{{pacientes.evolucion}}</p>
                                <p style="font-size: 12px;"><i><strong>Actualizado: </strong>{{timeago created_at}}</i>
                                </p>
                            </li>
                            <li style="margin: 20px">
                                <div class="update__evo d-flex">
                                    <p>Actualiza la evolución</p>
                                    <div class="icon-pencil" data-bs-toggle="modal" data-bs-target="#modalUpdateEvo">
                                    </div>
                                </div>

                                <div class="modal fade" id="modalUpdateEvo" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    {{pacientes.pacientenombre}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/control/pacientes/evolucion/{{pacientes.id}}"
                                                    method="POST">
                                                    <div class="form__section d-flex m-4">
                                                        <div class="form-group m-2">
                                                            <label>Evolución</label>
                                                            <input type="text" name="evolucion"
                                                                value="{{pacientes.evolucion}}" id=""
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cerrar</button>
                                                        <button class="btn btn-danger">Guardar Cambios</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                        {{else}}
                        <p><strong>Agrega una evolución</strong></p>
                        <div class="icon-plus-circled" data-bs-toggle="modal" data-bs-target="#modalevo">
                        </div>
                        <div class="modal fade" id="modalevo" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{pacientes.pacientenombre}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/control/pacientes/evolucion/{{pacientes.id}}" method="POST">
                                            <div class="form__section d-flex m-4">
                                                <div class="form-group m-2">
                                                    <label>Evolución</label>
                                                    <input type="text" name="evolucion" value="{{pacientes.evolucion}}"
                                                        id="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cerrar</button>
                                                <button class="btn btn-danger">Guardar Cambios</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="ficha__indi">
                    <form action="/control/pacientes/{{pacientes.id}}" method="POST">
                        <div class="form__section d-flex m-4">
                            {{#if pacientes.pacientepeso}}
                            <p><strong>Ver Kárdex</strong></p>
                            <div type="button" class="icon-menu" data-bs-toggle="modal"
                                data-bs-target="#modalverKardex">
                            </div>

                            <div class="modal fade" id="modalverKardex" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Kárdex
                                                {{pacientes.pacientenombre}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Paciente</th>
                                                            <th scope="col">Edad</th>
                                                            <th scope="col">Peso</th>
                                                            <th scope="col">Dieta</th>
                                                            <th scope="col">Oxígeno</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>{{pacientes.pacientenombre}}</th>
                                                            <td>{{pacientes.pacienteedad}}</td>
                                                            <td>{{pacientes.pacientepeso}}</td>
                                                            <td>{{pacientes.pacientedieta}}</td>
                                                            <td>{{pacientes.pacienteoxigeno}}</td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                                <div class="paciente--kardex" style="display: flex;">
                                                    <div class="container">
                                                        <p><strong>Tratamiento Farmacológico</strong></p>
                                                        <p class="tratamiento">
                                                            {{pacientes.tratamiento}}
                                                        </p>
                                                    </div>
                                                    <div class="container">
                                                        <p><strong>Plan de cuidados de enfermería</strong></p>
                                                        <p class="plan">
                                                            {{pacientes.plan}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <p><strong>Agregar Kárdex</strong></p>
                            <!-- Button trigger modal -->
                            <div type="button" class="icon-plus-circled" data-bs-toggle="modal"
                                data-bs-target="#modalKardex">
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="modalKardex" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Kárdex
                                                {{pacientes.pacientenombre}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form__section d-flex m-4">
                                                <div class="form-group m-2">
                                                    <label>Peso</label>
                                                    <input type="text" name="pacientepeso"
                                                        value="{{pacientes.pacientepeso}}" id="" class="form-control">
                                                </div>
                                                <div class="form-group m-2">
                                                    <label>Dieta</label>
                                                    <input type="text" name="pacientedieta"
                                                        value="{{pacientes.pacientedieta}}" id="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form__section d-flex m-4">
                                                <div class="form-group m-2">
                                                    <label>Oxígeno</label>
                                                    <input type="text" name="pacienteoxigeno"
                                                        value="{{pacientes.pacienteoxigeno}}" id=""
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="form__section d-flex m-4">
                                                <div class="form-group m-2">
                                                    <label>Tratamiento Farmacológico</label>
                                                    <textarea name="tratamiento" id="" cols="30" rows="10"
                                                        class="form-control">{{pacientes.tratamiento}}</textarea>
                                                </div>
                                                <div class="form-group m-2">
                                                    <label>Plan de Cuidados</label>
                                                    <textarea name="plan" id="" cols="30" rows="10"
                                                        class="form-control">{{pacientes.plan}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button class="btn btn-danger">Guardar Cambios</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}

                            <!-- Button trigger modal -->
                        </div>
                        <div class="boton__pdf">
                            <a href="/control/historias/imprimir/{{pacientes.id}}" target="_blank"
                                class="btn__pdf--print">
                                Imprimir PDF
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>